@charset "utf-8";
/* ===================================================================
CSS information
 style info :リセット及びbody初期設定 (このCSSは通常変更しない)
=================================================================== */

/* reset */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	overflow-y: scroll;
	}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    height: auto;
    width: auto;
    min-width: 0px;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,th {
	text-align: left;
}
q:before,q:after {
	content: '';
}
object,embed {
	vertical-align: top;
}
hr,legend {
	display: none;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    width: auto;
    margin-bottom: 0px;
}
img,abbr,acronym,fieldset {
    line-height: 0px;
}
ul,ol {
    list-style-type: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    width: auto;
}
.clear{
	clear: both;
	overflow-y: hidden;
}
a img{
	border:0;
}
strong{
    font-weight: bold;
    color: hsla(41,75%,62%,1.00);
    font-size: 18px;
}

/* Clearfix */

.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix{
    display:inline-block;
    min-height:1%;  /* for IE 7*/
}
/* Hides from IE-mac */
* html .clearfix { height: 1%; }
.clearfix { display: block; }



/* default */
body {
    background: #fff;
    color: #000;
    font-size: 14px;
    font-family: "Noto Sans JP","メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
    line-height: 1.4;
    width: 100%;
    overflow: hidden!important;
}
body p {
    font-size: 16px;
    line-height: 2em;
    margin-top: 0px;
    width: auto;
}
.wf-notosansjapanese { font-family: "Noto Sans JP"; }

/* for lte ie6 */
* html body {
	font-size: 14px;
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	vertical-align: baseline;

}

/* for ie7 */
*:first-child+html body {
	font-size: 14px;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}

/* for ie8 */
html>/**/body {
	font-size: 14px;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
} 

/* for modern browser not ie8 */
html:not(:target) body {
    font-size: 14px;
    font-family: "Noto Sans JP",Hiragino Kaku Gothic Pro, "ヒラギノ角ゴ Pro W3", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    right: auto;
} 


a:link {
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
a:visited {
	text-decoration: none;
}

.textOverflowTest1, .textOverflowTest2 {
	overflow: hidden;
	white-space: nowrap;
}
.switch {
	visibility: hidden;
}
.textOverflowTest1 {
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis; /* Safari */
	-o-text-overflow: ellipsis; /* Opera */
}
.textOverflowTest2 {
	text-overflow: clip;
	-webkit-text-overflow: clip; /* Safari */
	-o-text-overflow: clip; /* Opera */
}

 input[type="button"],input[type="submit"] {
    border-radius: 0;
  }


input[type="button"],input[type="submit"] {
    -webkit-appearance: none;
  }

.footer-xs-logo {
    display: none;
}

@media only screen and (max-width: 576px) {
    .d-xs-none {
        display: none !important;
    }
    .footer-xs-logo {
        display: block !important;
        margin: 20px;
    }
}